/* ELEMENTOS GERAIS */

body {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: Markazi Text,serif;
    font-weight: 700;
}

h2 {
    font-family: Markazi Text,serif;
}

p {
    font-family: Markazi Text,serif;
}

/* NAVBAR */

.Navbar {
    display: flex;
    padding: 1.25rem 5rem 1.2rem 5rem;
    align-items: center; /* Centralizar verticalmente */
    background-color: #F5F5F5; /* Cor de fundo, personalize conforme necessário */
    height: 15%; /* Altura do navbar, personalize conforme necessário */
    width: auto;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.Navbar ul {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.Navbar li {
    list-style: none;
}

nav a {
    font-family: Karla,sans-serif;
    font-weight: 800;
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-right: 2em;
}

.Navbar a:hover {
    background-color: #f4ce14;
    transition: 0.25s;
}

.Navbar img {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    width: 60%;
}

/* HERO SECTION */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem 5rem 1.2rem 5rem;
    margin-top: -1.0rem;
    background-color: #495e57;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #f4ce14
}

.hero-section h3 {
    font-size: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: #F5F5F5;

}

.hero-section p {
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    color: #F5F5F5;
    margin-right: 35px;
}

.hero-section > img {
    border-radius: 20px; 
    position: absolute;
    right: 17%;
    top: 23%;
    width: 14rem;
    height: 20rem;
}


.hero-section button {
    background-color: #f4ce14;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 2rem;
    width: 10rem; /* Largura do botão */
    text-align: center;
    font-family: Markazi Text, serif;
    color: black;
    font-weight: 800;
    margin-left: 5rem;
    margin-top: 0rem;
    font-size: 0.8em;
    word-wrap: break-word; /* Adicione esta linha */ /* Tamanho da fonte */
}

/* HIGHLIGHTS */

.highlight-article {
    background-color: #f5f5f599;
    padding: 1.25rem 5rem 1.2rem 5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
}

.highlight-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight-article h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

.highlight-article button {
    background-color: #f4ce14;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: black;
    font-weight: 800;
    font-size: 0.8em;
    width: 10rem;
    margin-right: 2rem;

}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.card {
    background-color: #f5f5f556;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 3rem;
    margin-right: 1rem;
    text-align: center;
}

.card img {
    max-width: 100%;
    width: 15rem;
    height: 17rem;
    border-radius: 8px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.card p {
    font-size: 1rem;
}

/* TESTIMONIALS */

.testimonials-article {
    text-align: center; /* Centraliza o título */
    margin: 5rem 0 0rem 0; /* Adiciona margem superior e inferior ao artigo */
    background-color: #495e57;
    padding: 1.25rem 5rem 1.5rem 5rem;
}

.testimonials-article h1 {
    color: #f4ce14;
    margin-bottom: 3rem;
    font-size: 2em;
}

.testimonials-cards {
    display: flex; /* Distribui os cartões horizontalmente */
    justify-content: space-between; /* Espaço igual entre os cartões */
    margin: 2rem 0; /* Adiciona margem superior e inferior aos cartões */
    height: 200px;
}

.testimonial-card {
    text-align: center; /* Centraliza o conteúdo do cartão */
    width: 20%; /* Define a largura dos cartões (ajuste conforme necessário) */
    padding: 1rem; /* Adiciona espaçamento interno aos cartões */
    margin-right: 1rem;
    border: none; /* Adiciona uma borda ao redor dos cartões (opcional) */
    background-color: #F5F5F5;
}

.stars {
    font-size: 1rem;
    color: #f4ce14;
}

.profile-picture img {
    max-width: 28%;
    border-radius: 50%; /* Arredonda a imagem de perfil */
    padding: 1rem 0.3rem 1rem 0.3rem
}

.person-name {
    font-weight: bold;
    font-size: 0.2em;
}

.testimonial {
    font-style: italic;
    font-size: 0.4em;
    margin-top: 0.5rem;
}

/* ABOUT SECTION */

.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 0rem 2rem 1.2rem 5rem;
}

.about-left {
    flex: 1;
    padding: 1rem;
}

.about-left h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about-left h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.about-left p {
    font-size: 1rem;
}

.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image-top {
    max-width: 50%;
    margin-bottom: 1rem;
    position: relative;
    left: 40%;
    top: 120px;
    z-index: 0;
    border-radius: 20px;
}

.image-bottom {
    max-width: 50%;
    position: relative;
    left: 10%;
    bottom: 50px;
    z-index: 1;
    border-radius: 20px;
}

/* FOOTER */

footer {
    display: flex;
    background-color: #F5F5F5;
    padding: 1.25rem 5rem 1.2rem 5rem;
    padding: 2rem;
    color:#000;
}

.footer-column {
    flex: 1;
    padding: 1rem;
}

footer img {
    max-width: 100%;
    width: 90%;
    margin-top: 50%;
    margin-right: 40px;

}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    background-color: #f4ce14;
    transition: 0.25s;
}

.spacer-footer {
    background-color: #495e57;
}

/** RESERVATION FORM **/

/* Adicione essas regras de estilo no seu arquivo CSS ou no seu componente React (usando CSS-in-JS ou Styled Components) */

form {
    display: flex;
    padding: 1.25rem 5rem 1.2rem 5rem;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }

label {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: Markazi Text,serif;
    text-align: center;
    display: block;
  }

input, select {
    width: 15rem;
    padding: 10px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

button {
    margin-top: 4rem;
    margin-bottom: 3rem;
    padding: 10px 20px;
    background-color: #f4ce14;
    text-align: center;
    font-family: Markazi Text, serif;
    color: black;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

button:hover {
    background-color: #495e57;
    transition: 0.25s;
    color: #f5f5f5;
}
  /* Estilos adicionais podem ser aplicados para personalização adicional */

.confirmation {
    margin-top: 3rem;
    text-align: center;
}

.conf-div {
    align-self: center;
    padding: 5rem 5rem;
}